.DS_Store
.idea
*.log
tmp/

.terraform
terraform.tfstate*
.terraform.lock.hcl

# Spinnaker
.backup
infra/part-1/03-spinnaker/config
infra/part-1/03-spinnaker/default/history
infra/part-1/03-spinnaker/default/staging
gcs-account.json

# Node
node_modules/
